<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="session">
        
        <!-- CONFIGURAÇÕES DE CONEXÃO COM O BD -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property> <!--Defino o driver de conexão com o bd -->
        <property name="hibernate.connection.url">jdbc:mysql://192.168.254.21:3306/vestibular?createDatabaseIfNotExist=true</property>
        <property name="hibernate.connection.username">vestsisuser</property>
        <property name="hibernate.connection.password">HBfFUDqh5dr7qvAf</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        
        <!-- CONFIGURAÇÕES DE CONEXÃO COM O BD LOCAL HOST-->
<!--        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property> Defino o driver de conexão com o bd 
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/vestibular?createDatabaseIfNotExist=true</property>
        <property name="hibernate.connection.username">admin</property>
        <property name="hibernate.connection.password">admin</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>-->
            
        
        
        <!-- HABILITA A EXIBIÇÃO DO SQL GERADO PELO HIBERNATE E FORMATA-O -->
        
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">false</property>
        
        <!-- NÃO UTILIZAR A ATUALIZAÇÃO AUTOMÁTICA DA ESTRUTURA DE TABELAS PELO HIBERNATE -->
        <!--        <property name="hibernate.hbm2ddl.auto">update</property>-->
        
        <!-- Tratamento de Cache dos Objetos-->
        <property name="hibernate.cache.use_query_cache">false</property>
        <property name="hibernate.cache.use_second_level_cache">false</property>
        <property name="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        
        <!-- CONFIGURAÇÕES DO POOL DE CONEXÕES-->     
        <property name="c3p0.min_size">30</property>
        <property name="c3p0.max_size">50</property>
        <property name="c3p0.timeout">300</property>
        <property name="c3p0.max_statements">50</property>
        <property name="c3p0.idle_test_period">300</property>
        
        <!-- LISTA DE ENTIDADES -->
        <mapping class="br.com.vestibular.model.entities.Pais"/>
        <mapping class="br.com.vestibular.model.entities.Estado"/> 
        <mapping class="br.com.vestibular.model.entities.Cidade"/>  
        <mapping class="br.com.vestibular.model.entities.Setor"/>
        <mapping class="br.com.vestibular.model.entities.Usuario"/>
        <mapping class="br.com.vestibular.model.entities.Vestibular"/>
        <mapping class="br.com.vestibular.model.entities.Curso"/>            
        <mapping class="br.com.vestibular.model.entities.Inscricao"/>
        <mapping class="br.com.vestibular.model.entities.Gabarito_Vestibular"/>
        <mapping class="br.com.vestibular.model.entities.Resposta_Vestibular"/>
        <mapping class="br.com.vestibular.model.entities.Boleto"/>
        <mapping class="br.com.vestibular.model.entities.Convenio"/> 
        <mapping class="br.com.vestibular.model.entities.Local_Prova"/>
        <mapping class="br.com.vestibular.model.entities.Retorno"/>
        <mapping class="br.com.vestibular.model.entities.Revisao"/>
        
        
    </session-factory>
</hibernate-configuration>